.front{
  border-radius: 25px;
}
.front img{
  width: 100%;
  border-radius: 25px;
  height: auto;
}

.back{
  max-height: 100%;
}
.back-wrapper{
  height: 100%;
  position: relative;
}

.content {
  background-color: #414141;
  color: #D4D4D4;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  width: 235px;
  height: 235px;
}

.BackHeader{
  height: 20px;
  margin-top: 25px;
  font-weight: 700;
  text-decoration: underline;
}
.BackText{
  height: 105px;
  margin: 10px;
  margin-top: 35px;
}
.BackSpacer{
  padding: 0 16px;
  text-decoration: underline;
  font-weight: 600;
}

.card-wrap{
  width: 235px;
  height: 235px;
  margin: 15px;
}
