@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');

.App {
  text-align: center;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #eee !important;
}

html,body{
    overflow-wrap: break-word;
}

.nothing{
  height: 100%;
}

.top-nav{
  text-align: center;
  background-color: #1b1b1b;
  color: #ddd;
  font-size: 20px;
  font-weight: 600;
  padding: 17px;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 8px rgba(142, 142, 142, 0.35);
}

.test{
  width: 375px !important;
  height: 10px;
  background-color: white;
}

/* Styling topbar */
.top-nav-wrap > span{
  padding: 0 45px;
  border-left: 3px #fff solid;
  display: inline-block;
  text-decoration: none !important;
}

.top-nav-wrap {
  text-align: center;
  -webkit-transition: font-size 0.4s;
  -moz-transition: font-size 0.4s;
  -o-transition: font-size 0.4s;
  transition: font-size 0.4s;
}

.option {
  position: relative;
  padding-bottom: 3px;
  line-height: initial;  /* added */
  cursor: pointer;
}
.option:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.option:hover:after {
  width: 100%;
  background: #ddd;
}

.first-option{
  border: none !important;
}

.projects-about-spacer{
  margin-top: 30vh;
}
.scroll_to_welcome{
  margin-bottom: 150px;
}
.spacer-about{
  padding-top: 150px;
}
.spacer-projects{
  padding-top: 170px;
}
.spacer-contact{
  margin-top: 200px;
  padding-top: 50px;
}
