@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');

.App {
  text-align: center;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #eee !important;
}
html,body{
    overflow-wrap: break-word;
}

/* Animating option on hover */
.option {
  position: relative;
  padding-bottom: 3px;
  line-height: initial;
  cursor: pointer;
}
.option:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.option:hover:after {
  width: 70%;
  background: #ddd;
}
.first-option:hover:after {
  width: 57%;
}

/* Margins between components */
.first-option{
  border: none !important;
}
.projects-about-spacer{
  margin-top: 30vh;
}
.scroll_to_welcome{
  margin-bottom: 15rem;
}
.spacer-about{
  padding-top: 15rem;
}
.spacer-projects{
  padding-top: 17rem;
}
.spacer-contact{
  margin-top: 15rem;
  padding-top: 5rem;
}



.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1.25rem;
  color: #eee;
}
.bm-burger-button {
  position: fixed;
  width: 3rem;
  height: 2.2rem;
  left: 2rem;
  top: 2rem;
  color: white;
}
.bm-burger-bars {
  background: #ddd;
  border: solid 1px #7c7c7c;
}
.bm-cross-button {
  height: 50px !important;
  width: 50px !important;
}
.bm-cross {
  background: #bdc3c7;
  height: 35px !important;
  width: 4px !important;
}
.bm-menu {
  background: #101010;
  border-right: #101010 15px solid;
  padding: 3em 1.5em 0;
  font-size: 1.6em;
}
